body,
html {
    width: 100%;
	height: 100%;
}

:root{
	--blue: #439DB7;
	--yellow: #FED336;
	--orange: #F47542;
	--green: #2D8E8B;
   --black: #393939;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, p {
	color: #626262; 
	font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.p-large {
	font: 400 1rem/1.5rem "Raleway", sans-serif;
}

.p-small {
	font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}

.p-heading {
	margin-bottom: 3.875rem;
}

.li-space-lg li {
	margin-bottom: 0.25rem;
}

.indent {
	padding-left: 1.25rem;
}

h1 {
	color: var(--black);
	font: 700 3rem/3.5rem "Raleway", sans-serif;
}

h2 {
	color: var(--black);
	font: 700 2.25rem/2.75rem "Raleway", sans-serif;
}

h3 {
	color: var(--black);
	font: 700 1.75rem/2rem "Raleway", sans-serif;
}

h4 {
	color: var(--black);
	font: 700 1.375rem/1.875rem "Raleway", sans-serif;
}

h5 {
	color: var(--black);
	font: 700 1.125rem/1.625rem "Raleway", sans-serif;
}

h6 {
	color: var(--black);
	font: 700 1rem/1.5rem "Raleway", sans-serif;
}

a {
	color: #626262;
	text-decoration: underline;
}
