#activity .container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#activity .container .row .col-lg-12 h2{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.swiper-container {
  width:97%;
  height: auto;
}

#activity .card{
	height: 600px;
	padding: 10px;
	border: 2px solid var(--black);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: space-around;
}

#activity .card .card-image{
	width: 200px;
	height: auto;
}

#activity .card .card-body{
	height: 250px;
	padding: 2px;
	text-align:center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
}

#activity .card .card-body .badge{
	background-color: var(--blue);
	padding:2px;
	border-radius: 3px;
}
