#activity .container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


#activity .container .row .col-lg-12 h2{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.swiper-container {
  width:97%;
  height: auto;
}

#activity .card{
	height: 350px;
	margin-top: 60px;
	padding: 10px;
	border: 2px solid var(--black);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#activity .card .card-image{
	width: 100px;
	height: 100px;
/*	position: relative;
	left: 80px;*/

}

#activity .card .card-body{
	height: 200px;
	padding: 2px;
	text-align:center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
}

#activity .card .card-body .badge{
	background-color: var(--blue);
	padding:1px;
	border-radius: 3px;
}

