:root{
	--blue: #439DB7;
	--yellow: #FED336;
	--orange: #F47542;
	--green: #2D8E8B;
   --black: #393939;
}

#activity .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*#activity .container .row{
	padding:20px;
}*/

#activity .container .row .col-lg-12{
	align-items: center;
}

#activity .container .row .col-lg-12 .card{
	/*width:90%;
	height: 500px;*/
	border:1px solid var(--black);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
}

#activity .container .row .col-lg-12 .card .card-image{
	width: 150px;
	height:auto;
	margin: auto;
}

#activity .container .row .col-lg-12 .card .card-body{
	width: 100%;
	height: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


#activity .container .row .col-lg-12 .card .card-body .badge{
	background-color: var(--blue);
	padding: 2px;
	color: whitesmoke;
	font-weight: bold;
	border-radius: 3px;
}




