*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: var(--blue);
    position: fixed;
    width: 100%;
	height: 82px;
	justify-content: space-between;
	z-index: 10;
}

.logo-image{
    border-radius: 50%;
	height: 70px;
	width: 70px;
	margin-top: 5px;
	margin-left: 22px;
}


nav .navbar-nav{
	background-color: var(--blue);
	position: fixed;
	width: 100%;
	text-align: center;
	top: -100%;
	transition: all 0.5s ease-in-out;
}

.nav-item{
	display: block;
	margin: 50px 30px;
	text-align: left;
	padding-left: 2%;
}

.page-scroll{
	font-size: 20px;
	color: #fff;
    text-decoration: none;
	font-weight: bold;
}

nav a:hover{
	color: var(--yellow);
    transition: 0.5s ease-in-out;
}

.burger{
	margin-top: 20px;
	margin-right: 22px;
	float: right;
	display: flex;
    flex-direction: column;
}

.burger .bar {
	width: 35px;
	height: 6px;
	margin: 3px auto;
	background: #fff;
}

.social-icons{
    display: none;
}

#check{
    display: none;
}

#check:checked ~ .navbar-nav{
	top: auto;
}


















